.env
__pycache__/
*.pyc
.venv/
*.egg-info/
.chroma/
chroma_db/
*.db
google_credentials.json
.google_token.json
coursework.md
notes.md
google_web_credentials.json
data/user_google_tokens/
evals/results